.imagenfondo {
background: url('../images/bg2.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}
.colortexto {
color:white;
}
.footertext-1 {
background-color: #ffffff;
box-sizing: border-box;
border: 1px solid rgba(0,0,0,.125);
}
.footertext-2 {
background-color: #f4f4f4;
box-sizing: border-box;
border: 1px solid rgba(0,0,0,.125);
}